@import '_variables.scss';

.container {
  width: 420px;
  padding: 20px 30px 22px 30px;
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 20px;
  background-color: #f3c1c1;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.error-sub {
  text-align: start;
  font-size: 1rem;
  color: red;
  font-weight: bold;
  font-family: monospace;
  text-transform: uppercase;
}

.btn-close {
  background-color:transparent;
  border: none;
  outline: none;
  color: red;
  font-weight: bold;
  text-decoration: none;
  line-height: 1.2;
  font-size: 28px;
  cursor: pointer;

  position: absolute;
  top: 10px;
  right: 20px;

}

