@import '_variables';

.container {
  margin: 0 auto;
  margin-top: 40px;
  max-width: 1080px;
  width: 96%;
  border-radius: 5px !important;
  overflow: hidden;

  .table-container {
    th {
      color: #a7a7a7;

      @media (max-width: 500px) {
        font-size: 11px;
      }
    }
    td {
      color: $gray-200;

      @media (max-width: 500px) {
        font-size: 11px;
      }
    }

  }

  table {
    width: 100%;
    margin-top: 10px;
  }
  .example-form {
    min-width: 300px;
    width: 100%;
  }

  .example-full-width {
    width: 100%;
  }

  .header {
    background-color: $gray-700;
    color: $gray-200;

    @media (max-width: 500px) {
      font-size: 18px;
    }
  }

  .spinner {
    margin: 20px auto 50px auto;
  }

  mat-header-cell {
    height: 60px !important;
  }
  .actions {
    height: 62px !important;
    display: flex;
    gap: 10px;
    justify-content: flex-end;

    @media (max-width: 500px) {
      height: 62px !important;
      justify-content: flex-start;
      margin-left: -30px;
      gap: 0;
    }
  }
  .edit {
    color: #ebba18;
  }
  .btn-new {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 25px 40px;

    :hover {
      transform: scale(1.2);
    }
  }
}
