<mat-card class="container">
  <mat-card-header>
    <mat-card-title class="title">Cria um novo curso</mat-card-title>
  </mat-card-header>

  <form [formGroup]="form">
    <mat-form-field>
      <mat-label class="label-text">Linha</mat-label>
      <input matInput formControlName="name" />
      @if (form.get('name')?.invalid) {
        <mat-error>{{errorMessage("name")}}</mat-error>
      }

    </mat-form-field>

    <mat-form-field>
      <mat-label class="label-text">Horário</mat-label>
      <mat-select formControlName="category">
        @for (list of lists; track list) {
          <mat-option [value]="list.value">{{list.value}}</mat-option>
        }
      </mat-select>
      @if (form.get('category')?.invalid) {
        <mat-error>{{errorMessage("category")}}</mat-error>
      }
    </mat-form-field>
  </form>

  <mat-card-actions class="btn-content">
    <button [disabled]="form.invalid"  mat-raised-button (click)="onSubmit()">Salvar</button>
    <button class="btn-cancel" mat-raised-button (click)="onCancel()">Cancelar</button>
  </mat-card-actions>
</mat-card>
