$red-dark: #800000;
$blue: oklch(51.01% 0.274 263.83);
$violet: oklch(53.18% 0.28 296.97);
$red: oklch(61.42% 0.238 15.34);

$gray-900: #2b2a2a;
$gray-700: #424242;
$gray-100: #f7feff;
$gray-200: #e2e2e2;
